<div class="container-fluid text-white my-4">

    <div class="row text-md-center">
        <h1 class="text-center">MAGIA PARA EMPRESAS</h1>

        <p>
            Bienvenidos a un mundo donde la magia se fusiona con el ámbito empresarial en Valencia.<br>
            Si estás buscando una manera innovadora y cautivadora de hacer que
            tu próximo <strong class="text-primary">evento corporativo</strong> sea inolvidable,
            has llegado al lugar indicado.<br>
            La <strong class="text-primary">magia profesional para empresas</strong> que realizo
            se ha convertido en un arte que trasciende la escena tradicional
            para ofrecer espectáculos únicos y sorprendentes para empresas de toda la región.<br>
        </p>

        <p>
            ¿Quieres que tus invitados vivan una experiencia única y memorable en tu evento corporativo, lanzamiento de
            productos o cena de gala?<br>
            ¿Buscas una forma de cautivar a tu audiencia y dejarlos sorprendidos y maravillados?<br>
            ¡No hay problema! Trabajo para que cada evento se convierta en un recuerdo inolvidable,
            tanto para ti como para tus invitados.
        </p>
    </div>
    <hr class="w-75">

    <div class="row align-items-start justify-content-around mt-5">
        <div id="text" class="col-md-6">
            <h3>Magia profesional para empresas: ¿Por qué contratarla?</h3>

            <p>
                La magia tiene el poder de romper barreras y conectar con personas de todas las edades y culturas.<br>
                Cuando se trata del ámbito empresarial,
                esto puede ser una <strong class="text-primary">ventaja estratégica.</strong><br>
                Mis <strong class="text-primary">espectáculos de magia profesional para empresas</strong>
                están diseñados para cautivar a tu audiencia,
                generar un ambiente de <strong class="text-primary">emoción y sorpresa</strong>,
                y mejorar la interacción entre los asistentes.<br>
                Desde eventos de networking hasta cenas de gala, la magia aporta un toque de originalidad
                que hará que los invitados disfruten de una
                <strong class="text-primary">experiencia única y memorable.</strong>
            </p>
        </div>

        <div class="col-md-6">
            <img class="img-fluid" src="img/shows/corporate1.jpg" alt="Foto de una comunión">
        </div>
    </div>
    <hr class="w-75">

    <div class="row align-items-start justify-content-around mt-5">
        <h3>Adaptabilidad a diferentes eventos corporativos</h3>

        <div class="col-md-6 order-2 order-md-1">
            <img class="img-fluid" src="img/shows/corporate2.jpg" alt="Foto de un espectáculo de magia en un pueblo">
        </div>

        <div id="text" class="col-md-6 order-1 order-md-2">
            <p>
                Un aspecto destacado de mis servicios es su
                <strong class="text-primary">adaptabilidad a diversos eventos corporativos</strong>.<br>
                Ya sea una presentación de producto, una celebración de logros empresariales o una fiesta de fin de año,
                mis espectáculos de magia pueden personalizarse para
                <strong class="text-primary">complementar la temática y los objetivos</strong> de tu evento.<br>
                Con esta versatilidad y <strong class="text-primary">variedad de juegos de magia</strong>,
                consigo mantener a la audiencia comprometida y entusiasmada en cada momento.<br>
                Además, si se da la situación, guardo algo especial en mi repertorio: el pick pocket.
            </p>
        </div>
    </div>
    <hr class="w-75">

    <div class="row mt-4 text-center justify-content-center">

        <h3>Disfruta de un espectáculo único y memorable</h3>

        <p>
            Como mago, creo que cada evento es especial y merece un enfoque único.<br>
            De esta manera, bajo el nombre de <strong class="text-primary">Mago Raúl Quintana</strong> trabajo
            para crear espectáculos que dejen una impresión duradera en tu empresa y en tus invitados.<br>
            Con una combinación de magia impactante, ilusiones sorprendentes y humor cautivador,
            la experiencia será recordada mucho tiempo después de que termine el evento.
        </p>

        <p>
            Si buscas llevar tu evento empresarial en Valencia al siguiente nivel, la magia para empresas es la elección
            perfecta. Como <strong class="text-primary">mago profesional en Valencia</strong>,
            te ofrezco una experiencia mágica e <strong class="text-primary">inolvidable</strong>
            que dejará a todos con la boca abierta.<br>
            No importa el tipo de evento que tengas en mente, estoy preparado para adaptarme a tus necesidades
            y superar tus expectativas.<br>
            Descubre cómo la magia puede transformar tu empresa y crear lazos más fuertes con tu equipo y clientes.<br>
            ¡Contacta hoy mismo y dejemos que la magia comience!
        </p>

        <h4>¡Te espero!</h4>
        <a class="button w-50 w-md-25 mt-2" routerLink="/contact">Contáctame</a>
    </div>
</div>