input[type="radio"] {
    display: none;
}

label {
    max-width: 200px;
    border: 2px solid white;
    border-radius: 10px;
}

label:hover {
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

label:active {
    transform: scale(0.9);
    transition: transform 0.1s;
}

.radio {
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 16/9;
}

#tv-container {
    position: relative;
}

#tv-container img {
    position: relative;
    z-index: 2;
    pointer-events: none;
}

#tv-container iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;

    z-index: 1;
    aspect-ratio: 4/3;
}