<div class="container">
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-dark text-white border border-white rounded-3 p-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title mb-3 text-center">Subir nueva imagen</h5>

                    <form class="d-flex flex-column flex-sm-row align-items-center justify-content-center gap-2">
                        <input #fileInput type="file" class="form-control bg-dark text-white border-light"
                            accept="image/*" />

                        <button type="button" class="btn btn-success px-4 mt-2 mt-sm-0"
                            (click)="uploadImage(fileInput)">
                            <i class="fa-solid fa-upload me-2"></i> Subir
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 border border-3 border-white rounded-3">
        <table class="table table-dark table-striped table-bordered border-white table-hover text-center align-middle">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(img of images; let i = $index; track i) {
                <tr>
                    <td>
                        <img [src]="img.url" [alt]="img.name" width="200" />
                    </td>

                    <td>
                        <input #filenameInput type="text" class="form-control" [value]="img.name" disabled />
                    </td>

                    <td>
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            @if (editingImg?.oldName === img.name) {
                            <button class="btn btn-success" (click)="saveEdit(filenameInput.value)">
                                <i class="fa-solid fa-check"></i>
                            </button>

                            <button class="btn btn-secondary" (click)="cancelEdit(filenameInput)">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                            }

                            @else {
                            <button class="btn btn-primary" (click)="startEdit(img.name,i)" [disabled]="!!editingImg">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="btn btn-danger" (click)="onDeleteImage(img.name)">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            }
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>