<nav class="navbar navbar-dark bg-dark navbar-expand-lg">

    <div class="container-fluid d-flex align-items-center justify-content-between">
        <img id="logo" src="img/logo/white-logo.png" alt="black-logo" (dblclick)="navigateAdmin()">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-center justify-content-center gap-lg-5 w-100 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link sparkle-link" routerLink="/home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sparkle-link" routerLink="/shows">Espectáculos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sparkle-link" routerLink="/gallery">Galería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sparkle-link" routerLink="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sparkle-link" routerLink="/contact">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>