<div class="container-fluid">
    <div class="row mt-4 g-4">

        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <a class="card d-flex flex-column align-items-center" routerLink="/admin/photos">
                <img src="/img/devices/photo.png" alt="Imagen de cámara de fotos">
                <h2>FOTOS</h2>
            </a>
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <a class="card d-flex flex-column align-items-center" routerLink="/admin/videos">
                <img src="/img/devices/video.png" alt="Imagen de cámara de video">
                <h2>VIDEOS</h2>
            </a>
        </div>
    </div>
</div>