img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #fff;
}

@media (max-width: 576px) {
    img {
        width: 100px;
        height: 100px;
    }
}