<div class="container-fluid text-white mt-3">
    <div class="row flex-column align-items-center">

        <h1 class="text-center">RAÚL QUINTANA</h1>
        <hr class="w-75">

        <div class="slider">
            <span style="--i: 1;"><img src="img/slides/slide1.jpg" alt="slide1"></span>
            <span style="--i: 2;"><img src="img/slides/slide2.jpg" alt="slide2"></span>
            <span style="--i: 3;"><img src="img/slides/slide3.jpg" alt="slide3"></span>
            <span style="--i: 4;"><img src="img/slides/slide4.jpg" alt="slide4"></span>
        </div>

        <div class="col-10 col-lg-8 mt-5 text-center">
            <p>
                ¡Hola a todos! Mi nombre es Raúl, soy mago y hago magia, claro, porque si cantara sería un...<br>
                ¡¡¡Desastre!!!, te lo aseguro.
            </p>
            <p>
                Quiero compartir con ustedes <strong> mi pasión por la magia, la ilusión</strong> y presentarme como uno
                de los magos e ilusionistas más talentosos de Valencia.
            </p>
            <p>
                En esta ocasión, me enfocaré en dos temas diferentes:<br>
                1º) hablaré sobre mi trayectoria y actuaciones como <strong> mago en Valencia,</strong><br>
                2º) me enfocaré en mi habilidad como <strong> ilusionista en Valencia</strong>
            </p>
        </div>
        <hr class="w-75">

        <div class="col-10 col-lg-8 mt-5 text-center">
            <h2 class="text-center">¡Comencemos!</h2>

            <p>
                Como <strong>mago en Valencia,</strong> he estado cautivando al público durante muchos años.<br>
                Desde mi infancia me interesé en la magia y pasé años perfeccionando mis habilidades en este arte.<br>
                La "culpa" la tiene un gran mago valenciano conocido como May Roger.<br>
                ¡Mi objetivo desde entonces es hacer sentir a mi público lo que yo sentía cuando él creaba magia delante
                de mis atónitos ojos!
            </p>

            <img id="cascada" class="w-100" src="img/cascada.jpg" alt="mago en Valencia">

            <p class="mt-5">
                Mis actuaciones como <strong>mago en Valencia</strong> son verdaderamente impresionantes. <br>
                Una de las cosas que más me gusta es la forma en que utilizo diferentes técnicas de magia para crear un
                espectáculo completo y emocionante.<br>
                Los juegos de escenario son particularmente sorprendentes para crear la ilusión de objetos que aparecen
                y desaparecen ante tus propios ojos.
            </p>

            <p class="mt-5">
                La<strong> magia de mentalismo</strong> es otra técnica que utilizo en mis actuaciones como
                <strong>ilusionista en Valencia</strong>.<br>
                Esta forma de magia se centra en la psicología y la sugestión.<br>
                Los ilusionistas que realizan magia de mentalismo a menudo se presentan como adivinos o psíquicos.<br>
                Utilizo estas técnicas para crear la ilusión de poderes sobrenaturales y sorprender al público.
            </p>
        </div>
        <hr class="w-75">

        <div class="col-10 col-lg-8 mt-5 text-center">
            <p>
                He actuado en diversos escenarios y eventos en Valencia y en otras partes de España,<br>
                siendo reconocido por mi talento y originalidad en la magia.<br>
                Si después de leer sobre mis habilidades y mi trayectoria como
                <strong>ilusionista en Valencia</strong>,<br>
                te sientes intrigado y quieres experimentar mi magia en vivo.
            </p>
            <h2 class="text-primary">Espectáculos de magia para todas las edades y eventos</h2>

            <p>Descubre mi magia impactante, moderna y profesional a tu disposición.<br>
                Para tu cumple, boda, comunión, falla, restaurante, bautizo, fiesta de tu pueblo, etc.<br>
                ¡Anímate a sumergirte en el mundo de la magia y disfruta de la ilusión!
            </p>

            <button class="btn btn-dark border border-2" routerLink="/shows">Ver espectáculos</button>
        </div>
        <hr class="w-75 mt-3">

        <div class="col-10 col-lg-8 mt-5 text-center">
            <h3>UNO DE LOS MAGOS MEJOR VALORADOS DE VALENCIA</h3>
            <!-- <img id="review-logo" alt="review-logo" src="/img/review-logo.png"> -->

            <div class="elfsight-app-78c880d2-3546-4afb-98c3-6c1f1e9b58b1" data-elfsight-app-lazy></div>
        </div>
    </div>
</div>