<div class="container-fluid my-4">

    <h1 class="text-center">MAGIA DE CERCA</h1>

    <div class="row align-items-start justify-content-around mt-5">
        <div id="text" class="col-md-6">
            <p>
                ¿Te gustaría disfrutar de la verdadera magia a solo unos centímetros de tus ojos?<br>
                No busques más, ¡has venido al lugar correcto!<br>
                <strong class="text-primary">¡Enfocada para cualquier evento, tu negocio (magia para todos tus
                    clientes), cena de amigos, el banquete de tu boda...</strong><br>
                ¡Déjalos con la boca abierta!!
            </p>

            <p>
                La Magia de cerca es la más impactante y sorprendente que existe, con objetos cotidianos como:<br>
                monedas🪙, billetes💵, cartas🃏, cigarrillos🚬, móviles📱, pañuelos🧣, fuego🔥 y...<br>
                ¡mucho más ✨!
            </p>
        </div>

        <div class="col-md-6">
            <img class="img-fluid" src="img/shows/sorprise.jpg" alt="Foto de una comunión">
        </div>
    </div>
    <hr class="w-75">


    <div class="row align-items-start justify-content-around mt-5">

        <h1>Espectáculo para todo tipo de eventos</h1>

        <div class="col-md-6 order-2 order-md-1">
            <img class="img-fluid" src="img/shows/event.jpg" alt="Foto de un espectáculo de magia en un pueblo">
        </div>

        <div id="text" class="col-md-6 order-1 order-md-2">
            <p>
                <strong class="text-primary">La magia de cerca en Valencia se puede adaptar a cualquier tipo de evento o
                    celebración</strong>,
                ya sea un cumpleaños, una boda, un cóctel, una cena de empresa o cualquier otro evento social.<br>
                Los ilusionistas pueden trabajar con grupos pequeños o grandes,
                y pueden personalizar el espectáculo según las necesidades y gustos de los asistentes.
            </p>

            <p>
                Si estás organizando un evento o espectáculos en Valencia,
                la magia de cerca son una excelente opción para sorprender a tus invitados.<br>
                Como ilusionista puedo realizar una amplia variedad de efectos,
                utilizando objetos cotidianos como cartas, monedas, billetes y móviles, entre otros.<br>
                Además, este espectáculo de magia también incluye elementos más potentes, como el mentalismo y el uso
                del fuego.
            </p>
        </div>
    </div>
    <hr class="w-75">

    <div class="row mt-4 text-center justify-content-center">

        <h3>Raúl Quintana: magia de cerca en Valencia</h3>

        <p>
            Los espectáculos en Valencia como la magia de cerca son una experiencia mágica e inolvidable que nunca
            dejará de sorprender y emocionar a los espectadores.<br>
            Con su capacidad de adaptación a cualquier evento,
            la magia de cerca es una excelente opción para crear un ambiente especial
            y único en tu evento en Valencia.<br>
            Así que, si buscas hacer de tu evento algo especial,
            no dudes en contratar a un ilusionista de magia de cerca en
            Valencia y prepárate para vivir una experiencia única e inolvidable.
        </p>

        <h4>¡Te espero!</h4>
        <a class="button w-50 w-md-25 mt-2" routerLink="/contact">Contáctame</a>
    </div>
</div>