<div class="col-md-4">

    <h1>Magia en Televisión</h1>

    <form class="d-flex flex-md-column gap-3">
        <input type="radio" name="valencia" id="valencia">
        <label for="valencia">
            <img class="radio" src="https://i.ytimg.com/vi/XaOxVfAozP8/hqdefault.jpg" alt="Magia en Valencia"
                loading="lazy">
        </label>
        <input type="radio" name="course" id="course">
        <label for="course">
            <img class="radio" src="https://i.ytimg.com/vi/ZCAEtGjFjRI/hqdefault.jpg" alt="Curso de Magia"
                loading="lazy">
        </label>

        <input type="radio" name="street" id="street">
        <label for="street">
            <img class="radio" src="https://i.ytimg.com/vi/H-QXT8TMMEw/hqdefault.jpg" alt="Magia en la Calle"
                loading="lazy">
        </label>
    </form>

    <a id="button" class="button mt-3" href="https://www.youtube.com/channel/UC3vcUnBDQFZbuszKPcLw2mQ">
        Ver más
    </a>
</div>


<div id="tv" class="col-md-8 mt-4">
    <div id="tv-container">

        <img class="w-100" src="/img/tv.png" alt="tv">

        <div class="black"></div>

        <iframe src="https://www.youtube.com/embed/XaOxVfAozP8?si=XAjdJZSTZKEGkqO9" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>

        <iframe src="https://www.youtube.com/embed/ZCAEtGjFjRI?si=iAKXhudNk4JtJPWR" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>

        <iframe src="https://www.youtube.com/embed/H-QXT8TMMEw?si=kpC2GwU69bybJKTH" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</div>