<div class="container-fluid my-4">

    <h1 class="text-center">MAGIA FAMILIAR / MAGIA SALÓN</h1>

    <div class="row align-items-start justify-content-around mt-5">
        <div id="text" class="col-md-6">
            <p>
                ¿Estás buscando una manera emocionante y única de entretener a tus clientes, amigos o invitados en tu
                evento en Valencia?<br>
                No busques más, ¡has venido al lugar correcto!<br>
                <strong class="text-primary">Soy un mago en Valencia</strong> y estoy aquí para llevar la magia a tu
                fiesta, reunión o
                cualquier evento que tengas planeado.
            </p>

            <p>
                ¡Deja a todos los invitados de tu fiesta ALUCINADOS!<br>
                Con un número innovador, divertido y participativo, tanto para niños como para adultos.<br>
                Habrá efectos de todo tipo: magia musical, desapariciones, reapariciones de objetos del público en
                lugares imposibles, levitaciones, etc.<br>
                Y... ¡¡¡♦️♣️un regalo♥️♠️ para el niñ&#64; de la fiesta!!!
            </p>

            <p>
                <strong>Mi espectáculo de magia familiar en Valencia es interactivo y variado.</strong><br>
                Si tienes un local, pub, cafetería, restaurante o cualquier espacio, puedo ofrecerte un show
                profesional,
                que tus clientes nunca olvidarán.<br>
                La magia de salón es una forma emocionante de entretener a una audiencia
                y con mi experiencia y habilidad, te aseguro que tu evento será todo un éxito.
            </p>
        </div>

        <div class="col-md-6">
            <img class="img-fluid" src="img/shows/communion.jpg" alt="Foto de una comunión">
        </div>
    </div>
    <hr class="w-75">

    <div class="row align-items-start justify-content-around mt-5">
        <div class="col-md-6 order-2 order-md-1">
            <img class="img-fluid" src="img/shows/country.jpg" alt="Foto de un espectáculo de magia en un pueblo">
        </div>

        <div id="text" class="col-md-6 order-1 order-md-2">
            <p>
                Mis efectos <strong class="text-primary">de magia</strong>, son ideales para reuniones más íntimas,
                donde puedo interactuar directamente con la audiencia,
                lo que hace que la experiencia sea más personal y única.<br>
                Si prefieres algo más grande, también puedo ofrecer un espectáculo en un escenario más grande, para un
                público más amplio.
            </p>

            <p>
                El objetivo es siempre hacer que mis espectáculos sean de lo
                <strong class="text-primary">más emocionantes y memorables</strong> posible,
                por lo que personalizo mi acto según las necesidades de cada evento.<br>
                Ya sea que estés organizando una fiesta de cumpleaños, una comunión, una boda o cualquier otro tipo de
                evento en Valencia, puedo adaptarme para hacer que la magia sea el punto culminante del día.
            </p>
        </div>
    </div>
    <hr class="w-75">

    <div class="row mt-4 text-center justify-content-center">

        <h3>Raúl Quintana: mago salón en Valencia</h3>

        <p>
            Si estás buscando un <strong class="text-primary">show en Valencia que haga que tus invitados se sorprendan
                y se diviertan</strong>, no dudes en contactarme.<br>
            Con mis habilidades y experiencia en magia de salón, puedo asegurarte que tendrás un
            evento único y emocionante que tus invitados nunca olvidarán.
        </p>

        <p>
            Así que, si quieres un espectáculo que impresione a tus clientes, amigos o invitados, ¡no busques más!<br>
            Contáctame para programar tu espectáculo de magia en Valencia.<br>
            Te aseguro que será una experiencia que no olvidarás.
        </p>

        <p>
            Recuerda, ¡asómbrate con un show en Valencia divertido y mágico!<br>
            En el escenario de tu local, pub, cafetería, restaurante, en la fiesta de tu pueblo, etc.<br>
        </p>

        <h4>¡Te espero!</h4>
        <a class="button w-50 w-md-25 mt-2" routerLink="/contact">Contáctame</a>
    </div>
</div>